<div class="content">
    <div class="first-card">
        <h1>Last Observation Period <sup><i class="fa fa-info-circle tooltip">
            <span class="tooltiptext">Last observation period is a rolling window of 60 seconds (1 minute), during which the statictics of the query performance are gathered.</span>
        </i></sup></h1>
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="metric">
                    <h1>{{gain[gain.length-1]}}</h1>
                    <h3> AUD</h3>
                    <p>Total Gain or Loss <i class="fa fa-info-circle tooltip">
                        <span class="tooltiptext">Gain or loss in monetary value from responding to context queries during the last window.</span>
                    </i></p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="metric">
                    <h1>{{avg_gain[avg_gain.length-1]}}</h1>
                    <h3> AUD</h3>
                    <p>Gain or Loss Per Query <i class="fa fa-info-circle tooltip">
                        <span class="tooltiptext">Average Gain or loss in monetary value from responding to context queries during the last window.</span>
                    </i></p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="metric">
                    <h1>{{avg_query_overhead[avg_query_overhead.length-1]}}</h1>
                    <h3> ms</h3>
                    <p>Query Latency <i class="fa fa-info-circle tooltip">
                        <span class="tooltiptext">Average response time to a context query.</span>
                    </i></p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="metric">
                    <h1>{{no_of_queries[no_of_queries.length-1]}}</h1>
                    <h3> nos</h3>
                    <p>Context Queries Responded <i class="fa fa-info-circle tooltip">
                        <span class="tooltiptext">Total number of context queries responded during the last window.</span>
                    </i></p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="stat-card">
            <mat-card-content>
                <div class="metric">
                    <h1>{{no_of_retrievals[no_of_retrievals.length-1]}}</h1>
                    <h3> nos</h3>
                    <p>Number of Retrievals <i class="fa fa-info-circle tooltip">
                        <span class="tooltiptext">Total number of context retrievals occured during the last window.</span>
                    </i></p>
                </div>
            </mat-card-content>
        </mat-card>
    </div> 
    <br/>
    <div class="grid-container">
        <mat-card class="chart-card-2" style="width:305px;">
            <mat-card-content class="description">
                <div>
                    <h2>Cost Breakdown</h2>
                    <canvas baseChart 
                        width = 360px
                        height = 500px
                        [data]="pieChartData"
                        [colors]="pieChartColors"
                        [labels]="pieChartLabels" 
                        [legend]="pieChartLegend"
                        [chartType]="pieChartType">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
        <div style="display:inline-block">
            <mat-card class="chart-card-2" style="width:250px; height:70px; display: block;">
                <mat-card-content class="description">
                    <div class="metric">
                        <h1>{{earning[earning.length-1]}}</h1>
                        <h3> AUD</h3>
                        <p>Earning</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="chart-card-2" style="width:250px; height:80px; display: block; margin-top:10px">
                <mat-card-content class="description">
                    <div class="metric">
                        <h1>{{retrieval_cost[retrieval_cost.length-1]}}</h1>
                        <h3> AUD</h3>
                        <p>Retrieval Cost</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="chart-card-2" style="width:250px; height:80px; margin-top:10px">
                <mat-card-content class="description">
                    <div class="metric">
                        <h1>{{penalty_cost[penalty_cost.length-1]}}</h1>
                        <h3> AUD</h3>
                        <p>Penalty Cost</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="chart-card-2" style="width:550px;">
            <mat-card-content>
                <div class="chart-line" style="width:520px; height:100px !important;">
                    <h2>Cost to Earning Ratio</h2>
                    <canvas baseChart
                        height = 140px
                        [datasets]="line4ChartData"
                        [labels]="timeTicks"
                        [colors]="ChartColors"
                        [legend]="lineChartLegend"
                        [options]="line3ChartOptions"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>         
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br/>
    <div class="grid-container">
        <h1>Continous Performance Variation <sup><i class="fa fa-info-circle tooltip">
            <span class="tooltiptext">Last observation period is a rolling window of 60 seconds (1 minute), during which the statictics of the query performance are gathered.</span>
        </i></sup></h1>
        <mat-card class="chart-card">
            <mat-card-content>
                <div class="chart-line">
                    <h2>Monetary Values</h2>
                    <canvas baseChart
                        width = 900px
                        height = 360px
                        [datasets]="lineChartData"
                        [labels]="timeTicks"
                        [colors]="ChartColors"
                        [legend]="lineChartLegend"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>         
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="chart-card" style="width:305px; vertical-align:top;">
            <mat-card-content class="description">
                <div>
                    <h3>Gain</h3>  
                    <p>Residual earning after deducting all the the costs from earnings.</p>  
                    <h3>Earning</h3>  
                    <p>Accumalated value of price paid by the context consumers for all valid context query responses.</p>   
                    <h3>Retrieval Cost</h3>  
                    <p>Total cost incurred by the CMP for retrieving context from context providers.</p>  
                    <h3>Penalty Cost</h3>  
                    <p>Total cost incurred by the CMP for reponding to context queries in a non-complient manner to the applicable SLA.</p> 
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br/>
    <div class="grid-container">
        <mat-card class="chart-card" style="width:580px">
            <mat-card-content>
                <div class="chart-line" style="width:550px; height:100px !important;">
                    <h2>Latencies and Overheads</h2>
                    <canvas baseChart
                        width = 550px
                        height = 330px
                        [datasets]="line2ChartData"
                        [labels]="timeTicks"
                        [colors]="ChartColors"
                        [legend]="lineChartLegend"
                        [options]="line2ChartOptions"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="chart-card" style="width:580px">
            <mat-card-content>
                <div class="chart-line" style="width:550px; height:100px !important;">
                    <h2>Ratio of overhead <sup><i class="fa fa-info-circle tooltip">
                        <span class="tooltiptext">The ratio of the overhead over the total query latency.</span>
                    </i></sup></h2>
                    <canvas baseChart
                        width = 550px
                        height = 330px
                        [datasets]="line3ChartData"
                        [labels]="timeTicks"
                        [colors]="ChartColors"
                        [legend]="lineChartLegend"
                        [options]="line3ChartOptions"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>         
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br/>
    
</div>
