.content {
  width: 80%;
  margin-left: 30px;
  margin-top: 150px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.content h1, h2 {
  text-align: left;
  color: rgb(104, 104, 104);
  margin-bottom: 20px;
  font-family: 'Arial Narrow Bold', sans-serif;
}

agm-map {
  height: 600px;
  width:1200px;
  align-self: center;
}

.ledgend {
  height: 20px;
  display: inline-block;
  line-height: 20px;
}

.ledgent img {
  padding-top: 15px;
}

.ledgend p{
  vertical-align: middle;
  display: inline-block;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 11pt;
}

agm-info-window {
  width: 200px;
  height: 50x;
  text-align: left;
}

.info-window {
  text-align: left;
}

.info-window .h4 {
  margin-bottom: -30px;
}

.info-window .p {
  margin-top: -30px;
}






