<div class="toolbar" role="banner">
    <nav class="nav nav-pills nav-fill">
        <h1>CoaaS Cache Performance Dashboard</h1><br/>
        <button class="btn" (click)=getOverallPerformance()>OVERALL</button>
        <button class="btn" (click)=getCacheLevelBasedPerfromance()>CACHE LEVELS</button>
        <button class="btn" (click)=getCSMSPerformance()>CSMS</button>
        <button class="btn" (click)=getMap()>MAP</button>
    </nav>
</div>

<div class="content" role="main">
    <div class="col-md-12">
        <app-overall *ngIf="overall"></app-overall>
        <app-cachelevels *ngIf="cache_level"></app-cachelevels>
        <app-csms *ngIf="csms"></app-csms>
        <app-map *ngIf="map"></app-map>
    </div>
</div>

<div class="footer" role="banner">
    <p>CoaaS Cache Performance Dashboard</p>
</div>

